{
    "properties":{
        "libDir":"./lib",
        "pluginsDir":"./plugins"
    },

    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|sysinfo|time)\\b.*",
            "expectedInputs":[]
        },
        "org.rhq.metrics.qe.tools.rhqmt.cli.CommandDispatchingInputController":{
            "enabled":"true",
            "inputPattern":"\\s*(server|connect|metrics)\\b.*",
            "expectedInputs":[]
        }
    }
}