<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rhq.metrics.qe.tools.rhqmt.server.database.mappers.JobStatusMessageMapper">
	<resultMap type="JobStatusMessage" id="jobStatusMessageMap">
		<id column="id" property="id" />
		<result property="jobId" column="job_id" />
		<result property="type" column="_type" />
		<result property="status" column="status" />
		<result property="message" column="message" />
		<result property="creationTime" column="creation_time" />		
	</resultMap>

	<select id="getAll" resultMap="jobStatusMessageMap">
		SELECT * FROM job_status_message ORDER BY id ASC
	</select>
	
	<select id="get" resultMap="jobStatusMessageMap" parameterType="JobStatusMessage">
		SELECT * FROM job_status_message
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			<if test="id != null">AND id = #{id}</if>
			<if test="jobId != null">AND job_id = #{jobId}</if>
			<if test="type != null">AND _type = #{type}</if>
			<if test="status != null">AND status = #{status}</if>
		</trim>
		 ORDER BY id ASC
	</select>
	
	<insert id="add" parameterType="JobStatusMessage">
		INSERT INTO job_status_message (job_id, _type, status, message) 
		VALUES (#{jobId},#{type},#{status},#{message})
	</insert>
	
	<delete id="delete" parameterType="JobStatusMessage">
		DELETE FROM job_status_message WHERE
		<trim prefixOverrides="AND | OR ">
			<if test="id != null">id = #{id}</if>
			<if test="jobId != null">AND job_id = #{jobId}</if>
			<if test="type != null">AND _type = #{type}</if>
			<if test="status != null">AND status = #{status}</if>
		</trim>
	</delete>	
</mapper>