<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rhq.metrics.qe.tools.rhqmt.server.database.mappers.MetricsJobDataMapper">
	<resultMap type="MetricsJobData" id="metricsJobDataMap">
		<id column="id" property="id" />
		<result property="jobId" column="job_id" />
		<result property="targetServer" column="target_server" />
		<result property="tenantId" column="tenant_id" />
		<result property="metricNameId" column="metric_name_id" />
		<result property="metricInterval" column="metric_interval" />
		<result property="metricDataCount" column="metric_data_count" />
		<result property="metricValueLowest" column="metric_value_lowest" />
		<result property="metricValueHighest" column="metric_value_highest" />
		<result property="metricDataLimit" column="metric_data_limit" />
		<result property="metricTimeLimit" column="metric_time_limit" />
		<result property="validateResult" column="validate_result" />	
		<result property="initialSetupDone" column="initial_setup_done" />		
	</resultMap>

	<select id="getAll" resultMap="metricsJobDataMap">
		SELECT * FROM metrics_job_data ORDER BY id ASC
	</select>
	
	<select id="get" resultMap="metricsJobDataMap" parameterType="MetricsJobData">
		SELECT * FROM metrics_job_data
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			<if test="id != null">id = #{id}</if>
			<if test="jobId != null">job_id = #{jobId}</if>
			<if test="targetServer != null">AND target_server = #{targetServer}</if>
			<if test="metricNameId != null">AND metric_name_id = #{metricNameId}</if>
			<if test="tenantId != null">AND tenant_id = #{tenantId}</if>
		</trim>
		 ORDER BY id ASC
	</select>
	
	<insert id="add" parameterType="MetricsJobData">
		INSERT INTO metrics_job_data (job_id, target_server, tenant_id, metric_name_id, metric_interval, metric_value_lowest, 
		metric_value_highest, metric_data_limit, metric_data_count, metric_time_limit, validate_result) VALUES (#{jobId},#{targetServer},
		#{tenantId},#{metricNameId},#{metricInterval},#{metricValueLowest},#{metricValueHighest},#{metricDataLimit},#{metricDataCount},
		#{metricTimeLimit},#{validateResult})
	</insert>
	
	<delete id="delete" parameterType="MetricsJobData">
		DELETE FROM metrics_job_data WHERE
		<trim prefixOverrides="AND | OR ">
			<if test="id != null">id = #{id}</if>
			<if test="jobId != null">job_id = #{jobId}</if>
			<if test="targetServer != null">AND target_server = #{targetServer}</if>
			<if test="metricNameId != null">AND metric_name_id = #{metricNameId}</if>
			<if test="tenantId != null">AND tenant_id = #{tenantId}</if>
		</trim>
	</delete>
	
	<update id="update" parameterType="MetricsJobData">
		UPDATE metrics_job_data
		<trim prefix="SET" suffixOverrides="," prefixOverrides=",">
			<if test="targetServer != null">target_server = #{targetServer},</if>
			<if test="metricNameId != null">metric_name_id=#{metricNameId},</if>
			<if test="metricInterval != null">metric_interval=#{metricInterval},</if>
			<if test="metricDataCount != null">metric_data_count=#{metricDataCount},</if>
			<if test="metricValueLowest != null">metric_value_lowest=#{metricValueLowest},</if>
			<if test="metricValueHighest != null">metric_value_highest=#{metricValueHighest},</if>
			<if test="metricDataLimit != null">metric_data_limit=#{metricDataLimit},</if>
			<if test="metricTimeLimit != null">metric_time_limit=#{metricTimeLimit},</if>
			<if test="validateResult != null">validate_result=#{validateResult},</if>
			<if test="jobId != null">job_id = #{jobId},</if>
			<if test="tenantId != null">tenant_id = #{tenantId},</if>
			<if test="initialSetupDone != null">initial_setup_done = #{initialSetupDone},</if>			
		</trim>
		WHERE id=#{id}
	</update>
	
</mapper>